DATABASE_URL=postgresql://freshmart:freshmart@localhost:5432/freshmart
CART_SERVICE_URL=http://localhost:8002
PAYMENT_SERVICE_URL=http://localhost:8004
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_ENABLED=false
PORT=8003
DEBUG=false
